/* this is a css comment*/
body {
  background-color: rgb(230, 227, 195);
}

img {
  float:right;
  width:50%;
  height:50%;
  margin-left: 20px;
}

.floatdivexample1 {
  border: 5px solid saddlebrown;
  background-color: rgb(252, 249, 245);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

#clearfix {
  overflow: auto;
}

.box {
  box-sizing: border-box;
  float: left;
  width: 25%;
  padding: 30px;
  background-color: rgb(58, 57, 55);
}